In [1]:
import pandas as pd
import matplotlib.pyplot
import numpy as np

In [10]:
df = pd.read_csv("./RSCCASN.csv",parse_dates=True,index_col="DATE")

In [11]:
df

            RSCCASN
DATE
1992-01-01     6938
1992-02-01     7524
1992-03-01     8475
1992-04-01     9401
1992-05-01     9558
...             ...
2019-06-01    21123
2019-07-01    21714
2019-08-01    23791
2019-09-01    19695
2019-10-01    21113

[334 rows x 1 columns]